<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="cadenaConexion" value="DefaultEndpointsProtocol=https;AccountName=almacenamientoamin;AccountKey=NWZVFBSP6ANvYyHms0XefXffgltKq7ucOcpGgBiWqfwqTGUHphLY0XtrOybnPlv9IL0kp7+Hxy/yDdN4beHiSQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>