<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="cadenaconexion" value="DefaultEndpointsProtocol=https;AccountName=almacenamientotesting;AccountKey=9MLJPHcoQ8CCH8t/+3oCHvtyPRzDm+llGctcq4JTYAWxXXZ9cP4JCBs3i1t3D6lM+6yMn0mRV6EhVEqbqOmbMQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>